<section class="py-5">
  <div class="container">
    <h1 class="font-weight-light">Hermes</h1>
    <p class="lead">In myth, Hermes was the emissary and messenger of the gods</p>
  </div>
</section>


<div class="container my-5 py-5 z-depth-1" style="cursor: pointer;" [routerLink]="['/guestbook']">
  <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
    <div class="row">
      <div class="col-md-6 mb-4 mb-md-0">
        <h4 class="font-weight-bold">Guestbook</h4>
      </div>
    </div>
  </section>
</div>
