<section class="py-5">
  <div class="container">
    <h1 class="font-weight-light">About</h1>
    <p class="lead">
      URL's where I found
      inspiration/guiding buliding this project
    </p>

    <ul class="list-group">
      <li class="list-group-item">
        <a href="https://docs.microsoft.com/en-us/aspnet/core/signalr/scale?view=aspnetcore-3.1">
          https://docs.microsoft.com/en-us/aspnet/core/signalr/scale?view=aspnetcore-3.1
        </a>
      </li>
      <li class="list-group-item">
        <a href="https://medium.com/@berkokur/a-real-life-scenario-implementation-with-angular-8-and-asp-net-core-signalr-3ad7e5a46fca">
          https://medium.com/@berkokur/a-real-life-scenario-implementation-with-angular-8-and-asp-net-core-signalr-3ad7e5a46fca
        </a>
      </li>
      <li class="list-group-item">
        <a href="https://www.c-sharpcorner.com/article/real-time-angular-8-application-with-signalr-and-cosmos-db/">
          https://www.c-sharpcorner.com/article/real-time-angular-8-application-with-signalr-and-cosmos-db/
        </a>
      </li>
      <li class="list-group-item">
        <a href="https://docs.microsoft.com/en-us/aspnet/core/tutorials/signalr-typescript-webpack?view=aspnetcore-3.1&tabs=visual-studio">
          https://docs.microsoft.com/en-us/aspnet/core/tutorials/signalr-typescript-webpack?view=aspnetcore-3.1&tabs=visual-studio
        </a>
      </li>
      <li class="list-group-item">
        <a href="https://medium.com/@tocalai/create-signalr-on-asp-net-core-df7ac8a9e4ee">
          https://medium.com/@tocalai/create-signalr-on-asp-net-core-df7ac8a9e4ee
        </a>
      </li>
      <li class="list-group-item">
        <a href="https://medium.com/@pielegacy/giving-the-valuescontroller-superpowers-with-signalr-core-7d4ff2be9e1c">
          https://medium.com/@pielegacy/giving-the-valuescontroller-superpowers-with-signalr-core-7d4ff2be9e1c
        </a>
      </li>
      <li class="list-group-item">
        <a href="https://codeopinion.com/practical-asp-net-core-signalr-server-hubs/">
          https://codeopinion.com/practical-asp-net-core-signalr-server-hubs/
        </a>

      </li>
    </ul>
  </div>
</section>
