<div class="container bg-faded py-3">
  <h2 class="h2-responsive mb-5 text-center">Guestbook</h2>
  <div class="">
    <div class="container-fluid ">
      <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="col-12">
            <div class="md-form">
              <mdb-icon fas icon="pencil-alt" class="prefix"></mdb-icon>
              <textarea id="content"
                        class="md-textarea form-control"
                        aria-label="With textarea"
                        placeholder="Comment.."
                        formControlName="content"
                        required
                        [ngClass]="{ 'is-invalid': commentForm.get('content').invalid && (content?.dirty) }"></textarea>
              <div class="alert alert-danger" *ngIf="commentForm.get('content').invalid && (content?.dirty)">
                content is required.
              </div>
            </div>
          </div>
        </div>
        <div>
          <button mdbBtn color="info" block="true" type="submit" [disabled]="!commentForm.valid">Post</button>
        </div>
      </form>
      <div class="clearfix"></div>
      <hr>
    </div>
  </div>

  <div *ngFor="let comment of comments">
    <div class="clearfix"></div>
    <br />
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{comment.userName}}</h5>
            <p class="card-text"><small class="text-muted">{{comment.createdDate | date:'yyyy-MM-dd HH:mm:ss'}}</small></p>
            <p class="card-text">{{comment.note}}</p>
            <!-- Feed footer -->
            <div class="feed-footer">
              <a class="like" (click)="postLike(comment.id)">
                <mdb-icon fas icon="heart"></mdb-icon>
                <span> {{comment.Likes.length}} </span>
              </a>
              <div class="float-right" *ngIf="comment.userId === user.sub">
                <a class="">
                  <span class="red-text"><mdb-icon fas icon="trash-alt"></mdb-icon></span>
                </a>
                <div class="clearfix"></div>

                <a class="">
                  <span class="green-text"><mdb-icon fas icon="edit"></mdb-icon></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
